@use 'colors';

.custom-navbar {
  position: fixed !important; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // para que quede encima de todo
  background-color: colors.$verdefuerte !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      max-height: 40px;
      width: auto;
      display: block; // elimina espacio blanco por defecto del inline
      margin: 0;
      padding: 0;
    }
  }

  .nav-link {
    color: white !important;
  }

  .navbar-nav {
    gap: 1rem;
  }

  .navbar-toggler {
    border-color: white !important;

    &-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
  }
}

// Tamaño más chico para tablets/celulares
@media (max-width: 1024px) {
  .custom-navbar {
    .navbar-brand {
      img {
        height: 25px;
        max-height: 25px;
      }
    }
  }
}

@media (max-width: 768px) {
  .custom-navbar {
    .navbar-brand {
      img {
        height: 20px;
        max-height: 20px;
      }
    }
  }
}

